{# base.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}Jeu Combat{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <!-- fontawesome free -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
{% block body %}

<body>

{% include 'navbar.html.twig' %}

<div class="container">

        <div class="info" style="padding: 10px">
            {% block info %}
            {% endblock %}
        </div>

        {% block container %}
            <div class="col-md-12">
                Page en construction... <br/>
                WIP : Work In Progress.
            </div>
        {% endblock %}
</div>

{% endblock %}

{% block javascripts %}
    <script>
        window.onload = function() {
            var delete_button = document.getElementById("btn_delete");
            if (delete_button) {
                delete_button.addEventListener("click", function (e) {
                    var perso_id = document.getElementById('perso_id');
                    $.ajax({
                        url: '/deletePerso/' + perso_id.innerText,
                        type: 'DELETE',
                        success: function (result) {
                            window.location.href = window.location.origin;
                        }
                    });
                });
            }
        }
    </script>
{% endblock %}
</body>


<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-light">Copyright &copy; Pictime PHP Bootcamp 2019 </p>
    </div>
</footer>
</html>