{# error.html.twig #}

{% extends 'base.html.twig' %}

{% block info %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            ERROR 404 NOT FOUND
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
{% endblock %}

{% block container %}
{% endblock %}