{# navbar.html.twig #}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Jeu Combat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar navbar-expand-lg" id="navbarSupportedContent">
        {% if app.user != null %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/persos">Persos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/createPerso">Create Perso</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    <div class="text-light" href="/user">
                        {{ app.user.username }}
                        <i class="far fa-user"></i>
                    </div>
                </li>
                <li class="nav-item" style="float: right">
                    <a href="/logout">Log out
                        <i class="fas fa-sign-out-alt"></i></a>
                </li>
            </ul>
        {% else %}
            <ul class="navbar-nav mr-auto">
                <li>
                    <a class="nav-link my-2 my-lg-0" href="/login">Log in</a>
                </li>
                <li>
                    <a class="nav-link my-2 my-lg-0" href="/login">Register</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>