{# index.html.twig #}

{% extends '@app/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/web/templates/css/main.css">
{% endblock %}

{% block container %}
    <div class="flex-row" style="background-image: url("/web/templates/images/coliseum.jpg")">
        <h2>
            Welcome to the world's fiercest coliseum !
        </h2>
    </div>

{% endblock %}